@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

body {

  margin: 0;

  padding: 0;

  background: #161A41B0;

  user-select: none;

  font-family: 'Nunito', sans-serif;

}

html {

  scroll-behavior: smooth;

}

.header {

  background:#31313BEB;

  height: 3.5rem;

  width: 100%;

  display: flex;

  justify-content: space-around;

  align-items: center;

  position: fixed;

  top: 0;

  z-index: 30;

}

#pfp {

  height: 3rem;

  width: 3rem;

  margin-right: 3px;

  border-radius: 50%;

}

.botName {

  flex: 2;

  font-size: 2rem;

  font-weight: 300;

  padding: 5px;

  color: white;

  padding: 0;

  margin: 0;

}

.online{

  color: mediumseagreen;

  font-size: 1.1rem;

}

#menu {

  flex: 0.5;

  height: 100%;

  display: flex;

  align-items: center;

  justify-content: center;

}

#messages {

  margin-top: 3.9rem;

  margin-bottom: 3.7rem;

}

.more,

.giftab {

  font-size: 2.5rem;

  color: white;

}

.msg-input-container {

  position: fixed;

  bottom: 0;

  background: #1F213B;

  height: 2.5rem;

  width: 95%;

  margin: 0 auto;

  display: flex;

  justify-content: space-around;

  padding: 0.5rem;

  border-radius:5rem;

}

.msg-input-inner-container {

  width: 70%;

}

#msg-input {

  box-sizing: padding-box;

  overflow: hidden;

  width: 100%;

  font-size: 14px;

  border-radius: 6px;

  box-shadow: 2px 2px 8px rgba(black, .3);

  border: none;

  outline: none;

}

#gif,

#send-mic {

  display: flex;

  justify-content: center;

  align-items: center;

}

.user-msg-container {

  background: #2A2E5E;

  opacity: 1;

  font-family: quicksand;

  height: fit-content;

  width: fit-content;

  max-width: 65vw;

  font-size: 0.9em;

  color: white;

  padding: .7rem;

  margin: 1rem 1rem 1rem auto !important;

  border-radius: .7rem;

  border-bottom-right-radius: 0px;

  font-family: quicksand;

  word-break: break-word;

  font-weight: 400;

  overflow-wrap: break-word;

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  justify-content: flex-start;

  position: relative;

}

.bot-msg-container{

  background:#2A2E5E;

  opacity: 1;

  font-family: quicksand;

  height: fit-content;

  width: fit-content;

  max-width: 65vw;

  font-size: 0.9em;

  color: white;

  padding: 3px;

  margin: 1rem auto 1rem 1rem;

  border-radius: .7rem;

  border-top-left-radius: 0px;

  font-family: quicksand;

  word-break: break-word;

  font-weight: 400;

  overflow-wrap: break-word;

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  justify-content: flex-start;

  position: relative;

  transition: 1s;

}

#typing-sound {

  display: none;

}

.bot-data-box{

  display: flex;

  align-items: center;

  justify-content: space-around;

}

.msg-pfp{

  height: 2.5rem;

  width: 2.5rem;

  margin-right: 1rem;

  border-radius: 50%;

}

.msg-bot-name{

  font-weight: 500;

  font-size: 1.2rem;

  font-family: 'Nunito', sans-serif;

}

.msg-content{

  padding:0;

  margin: 0;

  font-family: 'Nunito', sans-serif;

  font-size: 1rem;

}

.bot-msg-container .msg-content{

  padding-left: 2.5rem;

}

.contextmenu {

  min-width: 120px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.12);

  position: absolute;

  display: none;

  border: 1px solid ;

  border-radius: .5rem;

  list-style: none;

  padding: .5rem 0;

  color: black;

  background-color: rgb(250, 250, 250);

  z-index: 0;

}

.context-option {

  font-weight: 500;

  font-size: .9rem;

  padding: .5rem 1rem .5rem 1rem;

  cursor: pointer;

  transition: background-color .1s ease;

  user-select: none;

}

.context-option:hover {

  background: rgba(0, 0, 0, 0.12);

}

